/* Write your CSS here */
/* Container */
.about-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  padding: 20px;
}

.about-container.light {
  background-color: #ffffff;
}

.about-container.dark {
  background-color: #000000;
}

/* Image */
.about-img {
  width: 120px;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.about-img:hover {
  transform: scale(1.05);
}

/* Heading */
.about-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 800;
  margin: 10px 0;
}

.light-text {
  color: #171f46;
}

.dark-text {
  color: #ffffff;
}
